@import './variables';

h1 > span {
    margin: 1.5rem 0;
}

.primary-header {
    justify-content: space-between;
    margin-top: 1.5rem;
    height: 2.5rem;
    padding: 0 1.5rem;
    align-items: center;
    .logo {
        width: 2.5rem;  
        top: 1.5rem;
        left: 1.5rem;   
    }
}

.primary-navigation {
    list-style: none;
    margin: 0;
    position: fixed;
    width: 67%;
    height: 100%;
    top: 0;
    right: 0;
    transform: translateX(100%);
    padding: min(20rem, 15vh) 2rem;
    flex-direction: column;
    z-index: 100;
    transition: transform 0.7s ease-in-out;
    background-color: rgba(0,0,0, 0.95);
    & a {
        height: 100%;
        text-decoration: none;
        white-space: nowrap;
        & > span {
            font-weight: 700;
            margin-right: .7em;
        }
    }
    &.menu-active {
        transform: translateX(0);
    }
}

.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.mobile-nav-toggle {    
    cursor: pointer;
    position: relative;
    z-index: 200;
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    background: none;
    padding: 0;
    &.mobile-nav-transform {
        position: fixed;
        top: 2rem;
        right: 1.5rem;
    }
    &:focus-visible {
        outline: 3px solid white;
        outline-offset: 5px;
    }
    span {
        position: relative;
        display: block;        
        background: hsl(var(--clr-white));        
        width: 1.5rem;
        height: 0.2rem;
        transition: transform 0.7s ease-in-out;
        overflow: unset;
        &::before {
           content: '';
           width: 1.5rem;
           height: 0.2rem;
           position: absolute;
           top: -0.5rem;
           left: 0;
           background: hsl(var(--clr-white));
        }
        &::after {
            content: '';
            width: 1.5rem;
            height: 0.2rem;
            position: absolute;
            top: 0.5rem;
            left: 0;
            background: hsl(var(--clr-white));
         }
         &[aria-expanded="true"] {
             transform: rotate(45deg);
             &::before {
                 transform: translateY(0.5rem) rotate(90deg)
             }
             &::after {
                 transform: translateY(-0.5rem) rotate(180deg)
             }
         }
    }
}

.underline-indicators > * {
    &[aria-selected="true"] {
        border-bottom: .2rem solid hsl(var(--clr-white) / 1);
    }
    & > * {
        display: block;
        padding: var(--ul-gap, 1rem) 0;
        border: 0;  
    }
}

.large-button {
    text-decoration: none;
    display: inline-grid;
    place-items: center;
    padding-inline: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    text-align: center;
    position: relative;  
    &::before {
        content: '';
        position: absolute;
        background: hsl(var(--clr-white) / 0.1);
        border-radius: inherit;
        z-index: -5;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s linear, transform 0.5s ease-in-out;
    }
    &:hover::before,
    &:focus::before {
        opacity: 1;
        transform: scale(1.67);
    }
}

@supports (backdrop-filter: blur(30px)) {
    .primary-navigation {
        background-color: rgba(0,0,0, 0.3);
        backdrop-filter: blur(30px);
    }
}

@media(min-width: $tab-width) {
    #root {
        max-height: 100vh;

        &>div {
            max-height: calc(100vh - 6rem);
        }
    }
    
    .primary-header {
        margin-top: 0;
        padding-inline: 2.5rem 0;
        height: 6rem;
        .logo {
            width: 3rem;
        }
    }

    .primary-navigation {
        position: static;
        width: 28rem;
        flex-direction: row;       
        --gap: 2rem;
        padding: 0 3rem;
        background-color: rgba(255,255,255, 0.1);
        align-items: center;
    }

    .underline-indicators a,
    .underline-indicators li[role="tab"] {
        --ul-gap: 2rem;
        cursor: pointer;
        border-bottom: .2rem solid hsl(var(--clr-white) / 0);
        transition: all 0.5s ease-in-out;
        &:hover,
        &:focus {
            border-color: hsl( var(--clr-white) / 0.5);    
        }
    
        &.active,
        &[aria-selected="true"] {
            color: hsl( var(--clr-white) );
            border-color: hsl( var(--clr-white) / 1);
        }
    }

    .large-button {
        padding-inline: 3.3rem;
    }
}

// @media (min-width: $desk-width) and (orientation : landscape) {
// @media (orientation : landscape) and (min-width: $tab-width)  {
@media (orientation: landscape) and (min-width: $tab-width), (min-width: $desk-width) {
    .primary-header {
        margin-top: 2.5rem;
        padding-left: 3.5rem;
    }

    .primary-navigation { 
        width: min(52rem, 60vw);
        padding: 0 min(7.5rem, calc(12vw - 3rem));
        --gap: min(3rem, 4vw);
    }

    .header-line {
        position: relative;
        width: min(29.5rem, 32vw);
        height: 1px;
        background:hsl( var(--clr-white) / 0.25);
        left: 3rem;
        z-index: 150;
    }

    .numbered-title {
        grid-row: 1;
    }
}