@import './variables';



.container {
    padding-inline: 1.5rem;
}

.grid-container {
    margin-top: 1.5rem;
    gap: var(--gap, 2rem);
    overflow-x: hidden;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 0 1.5rem 3rem;

    &>*:not(.numbered-title):not(.tech-image):not(.crew-image):not(.destination-block):not(.crew-block):not(.tech-block):not(.tech-image) {
        max-width: 50ch;
    }

    &--home {
        margin-top: 2rem;
    }

    &--destination {
        padding-bottom: 3.5rem;
        grid-template-rows: min-content max(10.625rem, 25vh);



        .underline-indicators>* {
            padding-top: 0;
            padding-bottom: 0.5rem;
        }

        .destination {
            &-image {
                height: max(10.625rem, 22vh);
                aspect-ratio: 1;
            }
            &-block {
                align-self: start;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2 {
                    margin-top: 1.25rem;
                }
            }
            &-info {
                --gap: 2rem;
                margin-top: 2rem;
                border-top: 1px solid hsl(var(--clr-white)/ 0.25);
                padding-top: 2rem;
                flex-wrap: wrap;
                justify-content: center;

                &>* {
                    width: 12rem;
                }
            }
        }
    }

    &--crew {
        .crew {
            &-image {
                width: 100%;
                border-bottom: 1px solid hsl(var(--clr-white)/ 0.25);

                &>img {
                    margin: 0 auto;
                    height: max(14rem, 33vh);
                }
            }
            &-block {
                align-self: start;
                min-height: 14rem;

                h2 {
                    color: hsl(var(--clr-white)/ 0.25);

                    span {
                        margin-top: 0.5rem;
                        color: hsl(var(--clr-white));
                    }
                }

                p {
                    margin-top: 1rem;
                }
            }
        }
    }

    &--tech {
        padding-inline: 0;
        padding-bottom: 5rem;
        grid-template-rows: min-content max(10.5rem, 22vh) max(18rem, 40vh);
        gap: max(2rem, 4vh);

        .tech {
            &-image {
                max-width: calc(100vw + (100vh - 125vw));
            }
            &-block {
                max-width: calc(100vw + (100vh - 125vw));
                flex-direction: column;
                height: 100%;
                justify-content: flex-start;
                gap: 4vh;

                h2 {
                    span {
                        margin-top: 0.5rem;
                    }
                }

                p {
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media (min-width: $tab-width) {
    .container {
        padding-inline: 2.5rem;
    }

    .grid-container {
        margin-top: 2.5rem;
        grid-template-rows: min-content;
        padding-inline: 2.5rem;

        &--home {
            grid-template-rows: unset;
        }

        &--destination {
            --gap: 3.25rem;

            .destination-info {
                margin-top: 3rem;
            }

            .destination-image {
                height: max(10.625rem, 29vh);
            }

            .destination-block {
                max-width: 63ch;

                p {
                    margin-top: 0.5rem;
                }
            }
        }

        &--crew {
            --gap: 2.5rem;
            padding-bottom: 0;
            grid-template-rows: min-content 1fr min-content 2fr;
            .crew-image {
                order: 10;
                border-bottom: none;
                align-self: end;
                & > img {
                    height: auto;
                    max-height: 35rem;
                }
            }

            .dot-indicators {
                grid-row: 3/4;
                --gap: 1rem;
            }

            .crew-block {
                align-self: center;
                min-height: unset;
                max-width: 66ch;

                h2 {
                    margin-top: 1.25rem;
                    color: hsl(var(--clr-white)/ 0.25);

                    span {
                        margin-top: 0.5rem;
                        color: hsl(var(--clr-white));
                    }
                }
            }
        }

        &--tech {
            padding-inline: 0;
            padding-bottom: 6rem;
            grid-template-rows: min-content minmax(19.375rem, 1fr) minmax(21.25rem, 1fr);
            gap: 3.5rem;

            .tech-block.container {
                max-width: 57ch;
                gap: 2.75rem;
                grid-row: 3/-1;

                h2 {

                    span {
                        margin-top: 1rem;
                    }
                }
            }

            .tech-image {
                grid-row: 2/3;
                img {
                    width: 100vw;
                }
            }
        }
    }
}

// @media (min-width: $desk-width) and (orientation : landscape) {
// @media (orientation : landscape) and (min-width: $tab-width)  {
@media (orientation: landscape) and (min-width: $tab-width), (min-width: $desk-width) {
    h2>span {
        white-space: nowrap;
    }

    .container {
        padding-inline: unset;

        &.numbered-title {
            padding-left: 10.5rem;
        }
    }

    .grid-container {
        margin-top: 4.75rem;
        padding: 0;
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) 28rem minmax(1rem, 6rem) 28rem minmax(1rem, 1fr);

        &--home {
            padding-bottom: max(7vh, 8rem);
            align-items: end;

            &>*:first-child {
                grid-column: 2;
                justify-self: start;
            }

            &>*:last-child {
                grid-column: 4;
                justify-self: end;
            }
        }

        &--destination {
            padding-bottom: max(12vh, 7rem);
            row-gap: 4rem;

            .numbered-title {
                grid-row: 1;
            }

            .destination-image {
                height: unset;
                max-height: 50vh;
                grid-column: 2;
                width: 100%;
                img {
                    width: 100%;
                }
            }

            .destination-block {
                grid-row: 1/3;
                padding-bottom: 0.5rem;
                grid-column: 4;
                align-self: center;
                margin-top: 4rem;

                h2 {
                    margin-top: 2.25rem;
                }

                p {
                    margin-top: 1rem;
                }
            }

            .destination-info {
                justify-content: start;
            }
        }

        &--crew {
            padding-bottom: 0;
            grid-template-rows: min-content 1fr 7rem;
            --gap: 2rem;

            .numbered-title {
                grid-column: 1/3;
            }

            .crew-image {
                height: 41rem;
                // max-height: 66vh;
                grid-column: 3 / 6;
                grid-row: 1 / 4;
                // border-bottom: 1px solid hsl(var(--clr-white)/ 0.25);

                img {
                    max-height: 75vh;
                    height: 100%;
                }
            }

            .dot-indicators {
                justify-self: start;
                margin-bottom: max(6rem, 10vh);
                grid-column: 2;
                align-self: flex-start;
            }

            .crew-block {
                grid-column: 2;
                align-self: center;
                justify-self: baseline;
                p {
                    max-width: 27.75rem;
                }
            }
        }

        &--tech {
            padding-bottom: 6.25rem;
            grid-template-columns: minmax(1rem, 1fr) 32rem minmax(1rem, 12rem) 22rem minmax(1rem, 1fr);
            grid-template-rows: min-content 1fr;
            row-gap: 1.5rem;

            .tech-block.container {
                grid-row: 2;
                grid-column: 2/4;
                gap: 5rem;
                align-items: center;
                flex-direction: row;
                justify-self: start;

                .number-indicators {
                    --gap: 2rem
                }

                h2 {
                    margin-top: 0;

                    span {
                        letter-spacing: normal;
                    }
                }

                &>* {
                    max-width: 44ch;
                }
            }

            .tech-image {
                grid-row: 1/3;
                // align-self: end;
                grid-column: 4/6;
                order: 5;
                max-width: 60vh;
            }
        }
    }
}