@import './variables';

/* -------------------------- */
/* Custom properties          */
/* -------------------------- */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* font sizes */ 
    --fs-01: 0.875rem;  // destination small description
    --fs-10: 0.875rem;  // planets, tech smaller title
    --fs-20: 0.9375rem; // default size - description on every page
    --fs-21: 1rem;      // nav menu
    --fs-30: 1rem;      // homepage smaller title, page names
    --fs-40: 1rem;      // crew roles, tech buttons
    --fs-50: 1.25rem;   // explore button
    --fs-60: 1.5rem;    // crew name, tech title
    --fs-70: 1.75rem;   // destination numbers
    --fs-80: 3.5rem;    // destination title
    --fs-90: 5rem;      // homepage title
    //  --fs-900: clamp(5rem, 18vw + 1rem, 9.375rem);

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;

    // font-size: 4.25vw;
    font-size: min(2.4vh, 4.25vw);
}

@media (min-width: $tab-width) {
    :root {
        --fs-10: 1rem;
        --fs-20: 1rem;
        --fs-21: 0.875rem;
        --fs-30: 1.25rem;
        --fs-40: 1.5rem;
        --fs-50: 2rem;
        --fs-60: 2.5rem;
        --fs-80: 5rem;
        --fs-90: 9.375rem;

    }
}

@media (orientation: landscape) and (min-width: $tab-width), (min-width: $desk-width) {
// @media (min-width: $desk-width) {
    :root {
        --fs-20: 1.125rem;
        --fs-21: 1rem;
        --fs-30: 1.75rem;
        --fs-40: 2rem;
        --fs-60: 3.5rem;
        --fs-80: 6.25rem;
        --fs-90: 9.375rem;
    }
}

/* -------------------------- */
/* Reset                      */
/* -------------------------- */

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, figure, picture, ul {
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, p {
    font-weight: 400;
}

img, picture {
    max-width: 100%;
    display: block;
}

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-20);
    background: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
    line-height: 1.75;
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    transition: background 1.5s ease-in-out;
}

input, button, textarea, select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* -------------------------- */
/* Utility classes            */
/* -------------------------- */

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > * + * {
/* the same as .flow > *:where(:not(:first-child)) 
where and is are the new selectors, where is meant to be to eliminate specifity */
    margin-top: var(--flow-space, 1rem);
    /* outline: 1px solid red; */
}

#root {
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

.sr-only {
    font-size: 1px;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* colors */

.bg-dark { background-color: hsl(var(--clr-dark) );}
.bg-light { background-color: hsl(var(--clr-light) );}
.bg-white { background-color: hsl(var(--clr-white) );}

.text-dark { color: hsl(var(--clr-dark) );}
.text-light { color: hsl(var(--clr-light) );}
.text-white { color: hsl(var(--clr-white) );}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-01 {
    font-size: var(--fs-01);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-20 {
    font-size: var(--fs-20);
    line-height: 1.75;
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-60 {
    font-size: var(--fs-60);
}

.fs-70 {
    font-size: var(--fs-70);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-90 {
    font-size: var(--fs-90);
    line-height: 1.25;
}

.fs-01,
.fs-10,
.fs-21,
.fs-30 {
    line-height: 1.2;
}

.fs-40,
.fs-50,
.fs-60,
.fs-70,
.fs-80 {
    line-height: 1.15;
}

.numbered-title {
    text-align: center;
    letter-spacing: 2.7px;
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-30);
    line-height: 1.2;
    text-transform: uppercase;

}

.numbered-title span {
    color: hsl(var(--clr-white) / 0.25);
    font-weight: bold;   
    margin-right: .5em;
}

/* -------------------------- */
/* Components                 */
/* -------------------------- */

.tab-list {
    --gap: 2rem;
    list-style: none;
    justify-content: center;
}

.dot-indicators {
    justify-content: center;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;    
    padding: .4em;
    aspect-ratio: 1;   
    background-color: hsl( var(--clr-white) / 0.17);    
    transition: all 0.5s ease-in-out;
    &:hover,
    &:focus {
        background-color: hsl( var(--clr-white) / 0.5);  
    }

    &.active,
    &[aria-selected="true"] {
        background-color: hsl( var(--clr-white) / 1);
    }
}

.number-indicators {
    justify-content: center;
    & > * {
        display: block;
        cursor: pointer;
        border: 1px solid hsl( var(--clr-white) / 0.25);
        border-radius: 50%;   
        width: 2.5rem;
        aspect-ratio: 1;
        background-color: hsl( var(--clr-dark));
        color:hsl( var(--clr-white) );
        transition: all 0.5s ease-in-out; 
        &:hover,
        &:focus {
            border-color: hsl( var(--clr-white) / 1);  
        }
        &.active,
        &[aria-selected="true"] {
            background-color: hsl( var(--clr-white));
            color: hsl( var(--clr-dark) );
        }
    }
}

@media (min-width: $tab-width) {
    :root {
        // font-size: 2vw;
        font-size: min(2vw, 1.56vh);
    }

    .fs-90 {
        line-height: 1;
    }

    .numbered-title {
        white-space: nowrap;
        justify-self: start;
        letter-spacing: 3.375px;
    }
    .dot-indicators > * {
        padding: .375rem;
    }
    .number-indicators {
        & > * {
            width: 3.75rem;
        }
    }
}

// @media (min-width: $desk-width) and (orientation : landscape) {
@media (orientation: landscape) and (min-width: $tab-width), (min-width: $desk-width) {
    :root {
        // font-size: 1.1vw;
        font-size: min(1.1vw, 1.77vh);
    }
    
    .fs-90 {
        line-height: 1.15;
    }

    .numbered-title {
        padding-left: 10.5rem;
        grid-column: 1/6;
        letter-spacing: 4.75px;
    }
    .tab-list {
        justify-content: start;
    }
    .dot-indicators > * {
        padding: .5rem;
    }
    .number-indicators {
        flex-direction: column;
        & > * {
            width: 5rem;
        }
    }
}

// @media (orientation : landscape) and (max-width : $desk-width) {
//     :root {
//         --fs-10: 1.2rem;
//         --fs-20: 1.325rem;
//         --fs-21: 1.2rem;
//         --fs-30: 1.95rem;
//         --fs-40: 2.25rem;
//         --fs-50: 2.25rem;
//         --fs-60: 4rem;
//         --fs-80: 6.5rem;
//         --fs-90: 9.5rem;
//     }
// }